swagger: "2.0"
info:
  description: "This is learning platform backend api"
  version: "1.0.0"
  title: "Learning platform"
host: "ml-api.newitd.com"
basePath: "/"
tags:
  - name: "session"
    description: "Session Resource"
  - name: "captcha"
    description: "Captcha Resource"
  - name: "invitation code"
    description: "Invitation Code Resource"
  - name: "user"
    description: "User Resource"
  - name: "project"
    description: "Project Resource"
  - name: "file"
    description: "File Resource"
  - name: "node"
    description: "Node Resource"
schemes:
  - "https"
definitions:
  Meta:
    type: "object"
    properties:
      count:
        type: "integer"
        description: "总数量"
      page:
        type: "integer"
        description: "页数"
      page_size:
        type: "integer"
        description: "每页大小"
  InvitationCode:
    type: "object"
    properties:
      invitation_code:
        type: "string"
        description: "邀请码"
      user_id:
        type: "integer"
        description: "用户id"
      is_used:
        type: "boolean"
        description: "是否使用"
  InvitationCodeList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/InvitationCode"
      meta:
        $ref: "#/definitions/Meta"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "用户id"
      username:
        type: "string"
        description: "用户名"
      permission:
        type: "integer"
        description: "用户权限"
  UserList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/User"
      meta:
        $ref: "#/definitions/Meta"
  Project:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "项目id"
      name:
        type: "string"
        description: "项目名称"
      description:
        type: "string"
        description: "项目描述"
      tag:
        type: "string"
        description: "项目标签"
  ProjectList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/Project"
      meta:
        $ref: "#/definitions/Meta"
  FileList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          properties:
            name:
              type: "string"
              description: "文件名"
            type:
              type: "string"
              description: "文件类型（区分文件和文件夹）"
            size:
              type: "integer"
              description: "文件大小"
            access_time:
              type: "string"
              description: "文件访问时间"
            create_time:
              type: "string"
              description: "文件创建时间"
            modify_time:
              type: "string"
              description: "文件修改时间"
  Node:
    type: "object"
    properties:
      id:
        type: "integer"
        description: "节点id"
      project_id:
        type: "integer"
        description: "项目id"
      node_type:
        type: "string"
        description: "节点类型"
      input_shape:
        type: "string"
        description: "输入大小"
      output_shape:
        type: "string"
        description: "输出大小"
      in_edges:
        type: "string"
        description: "入度"
      out_edges:
        type: "string"
        description: "出度"
      status:
        type: "integer"
        description: "运行状态"
      extra:
        type: "string"
        description: "额外信息"
  NodeList:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/Node"
  CSV:
    type: "object"
    properties:
      data:
        type: "string"
        description: "csv数据"
  NodeDescription:
    type: "object"
    properties:
      type:
        type: "string"
        description: "类型"
      description:
        type: "string"
        description: "描述"
      params:
        type: "array"
        items:
          properties:
            name:
              type: "string"
              description: "名称"
            description:
              type: "string"
              description: "描述"
            type:
              type: "string"
              description: "类型"
            required:
              type: "boolean"
              description: "是否必填"
            range:
              type: "string"
              description: "范围"
            enum:
              type: "string"
              description: "枚举"
            default:
              type: "string"
              description: "默认值"
paths:
  /session:
    get:
      tags:
        - "session"
      summary: "获取当前登录用户"
      responses:
        200:
          description: "当前登录的用户"
          schema:
            $ref: "#/definitions/User"
    post:
      tags:
        - "session"
      summary: "登录"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "username"
          type: "string"
          description: "用户名"
          required: true
        - in: "formData"
          name: "password"
          type: "string"
          description: "密码"
          required: true
        - in: "formData"
          name: "captcha"
          type: "string"
          description: "验证码"
          required: true
      responses:
        201:
          description: "登录成功"
          schema:
            $ref: "#/definitions/User"
    delete:
      tags:
        - "session"
      summary: "登出"
      responses:
        204:
          description: "登出成功"
  /captcha:
    get:
      tags:
        - "captcha"
      summary: "获取验证码"
      responses:
        200:
          description: "图片验证码"
  /invitation_code:
    get:
      tags:
        - "invitation code"
      summary: "搜索邀请码"
      parameters:
        - in: "query"
          name: "user_id"
          type: "integer"
          description: "用户id"
        - in: "query"
          name: "code"
          type: "string"
          description: "邀请码"
        - in: "query"
          name: "is_used"
          type: "boolean"
          description: "是否使用"
      responses:
        200:
          description: "搜索结果"
          schema:
            $ref: "#/definitions/InvitationCodeList"
    post:
      tags:
        - "invitation code"
      summary: "生成邀请码"
      consumes:
        - "multipart/form-data"
      responses:
        201:
          description: "生成成功"
          schema:
            $ref: "#/definitions/InvitationCode"
  /user/{user_id}:
    get:
      tags:
        - "user"
      summary: "获取指定用户"
      parameters:
        - in: "path"
          name: "user_id"
          type: "integer"
          description: "用户id"
          required: true
      responses:
        200:
          description: "指定用户"
          schema:
            $ref: "#/definitions/User"
    put:
      tags:
        - "user"
      summary: "修改指定用户"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "path"
          name: "user_id"
          type: "integer"
          description: "用户id"
          required: true
        - in: "formData"
          name: "old_password"
          type: "string"
          description: "旧密码"
        - in: "formData"
          name: "password"
          type: "string"
          description: "新密码"
        - in: "formData"
          name: "organization"
          type: "string"
          description: "组织"
        - in: "formData"
          name: "permission"
          type: "integer"
          description: "权限"
        - in: "formData"
          name: "block"
          type: "integer"
          description: "禁用"
      responses:
        200:
          description: "修改成功"
  /user:
    get:
      tags:
        - "user"
      summary: "搜索用户（管理员限定）"
      parameters:
        - in: "query"
          name: "username"
          type: "string"
          description: "用户名"
        - in: "query"
          name: "permission"
          type: "integer"
          description: "权限"
        - in: "query"
          name: "page"
          type: "integer"
          description: "页码"
        - in: "query"
          name: "page_size"
          type: "integer"
          description: "每页大小"
      responses:
        200:
          description: "搜索结果"
          schema:
            $ref: "#/definitions/UserList"
    post:
      tags:
        - "user"
      summary: "注册"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "username"
          type: "string"
          description: "用户名"
          required: true
        - in: "formData"
          name: "password"
          type: "string"
          description: "密码"
          required: true
        - in: "formData"
          name: "organization"
          type: "string"
          description: "机构"
          required: true
        - in: "formData"
          name: "captcha"
          type: "string"
          description: "验证码"
          required: true
        - in: "formData"
          name: "code"
          type: "string"
          description: "邀请码"
          required: true
      responses:
        201:
          description: "注册成功"
          schema:
            $ref: "#/definitions/User"
  /project/{project_id}:
    get:
      tags:
        - "project"
      summary: "获取指定项目"
      parameters:
        - in: "path"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
      responses:
        200:
          description: "指定的项目信息"
          schema:
            $ref: "#/definitions/Project"
    put:
      tags:
        - "project"
      summary: "修改指定项目"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "path"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "name"
          type: "string"
          description: "项目名称"
        - in: "formData"
          name: "description"
          type: "string"
          description: "项目描述"
        - in: "formData"
          name: "tag"
          type: "string"
          description: "项目标签"
      responses:
        200:
          description: "修改成功"
    delete:
      tags:
        - "project"
      summary: "删除指定项目"
      parameters:
        - in: "path"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
      responses:
        204:
          description: "删除成功"
  /project:
    get:
      tags:
        - "project"
      summary: "搜索项目"
      parameters:
        - in: "query"
          name: "user_id"
          type: "string"
          description: "用户id"
        - in: "query"
          name: "name"
          type: "string"
          description: "项目名"
        - in: "query"
          name: "description"
          type: "string"
          description: "描述"
        - in: "query"
          name: "tag"
          type: "string"
          description: "标签"
      responses:
        201:
          description: "搜索结果"
          schema:
            $ref: "#/definitions/ProjectList"
    post:
      tags:
        - "project"
      summary: "创建项目"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "name"
          type: "string"
          description: "项目名称"
          required: true
        - in: "formData"
          name: "description"
          type: "string"
          description: "项目描述"
          required: true
        - in: "formData"
          name: "tag"
          type: "string"
          description: "项目标签"
          required: true
      responses:
        201:
          description: "创建项目成功"
          schema:
            $ref: "#/definitions/Project"
  /project/{project_id}/run:
    post:
      tags:
        - "project"
      summary: "运行指定项目"
      parameters:
        - in: "path"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
      responses:
        201:
          description: "创建任务成功"
  /file:
    get:
      tags:
        - "file"
      summary: "获取指定目录的文件"
      parameters:
        - in: "query"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "query"
          name: "dir"
          type: "string"
          description: "目录"
          required: true
          default: "/"
      responses:
        200:
          description: "指定目录的文件"
          schema:
            $ref: "#/definitions/FileList"
    post:
      tags:
        - "file"
      summary: "上传文件"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "file"
          type: "file"
          description: "文件"
          required: true
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "dir"
          type: "string"
          description: "目录"
          required: true
          default: "/"
      responses:
        201:
          description: "上传成功"
    put:
      tags:
        - "file"
      summary: "修改文件"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "old_filename"
          type: "string"
          description: "旧文件名"
          required: true
        - in: "formData"
          name: "new_filename"
          type: "string"
          description: "新文件名"
          required: true
      responses:
        200:
          description: "修改成功"
    delete:
      tags:
        - "file"
      summary: "删除文件"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "filename"
          type: "string"
          description: "文件名"
          required: true
      responses:
        204:
          description: "删除成功"
  /file/directory:
    post:
      tags:
        - "file"
      summary: "创建文件夹"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "dir"
          type: "string"
          description: "目录"
          required: true
      responses:
        201:
          description: "创建成功"
    delete:
      tags:
        - "file"
      summary: "删除文件夹"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "dir"
          type: "string"
          description: "目录"
          required: true
      responses:
        204:
          description: "删除成功"
  /node/{node_id}:
    get:
      tags:
        - "node"
      summary: "获取指定节点"
      parameters:
        - in: "path"
          name: "node_id"
          type: "integer"
          description: "节点id"
          required: true
      responses:
        200:
          description: "指定的节点信息"
          schema:
            $ref: "#/definitions/Node"
    put:
      tags:
        - "node"
      summary: "修改指定节点"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "path"
          name: "node_id"
          type: "integer"
          description: "节点id"
          required: true
        - in: "formData"
          name: "extra"
          type: "string"
          description: "节点额外信息"
          required: true
      responses:
        200:
          description: "节点修改成功"
    delete:
      tags:
        - "node"
      summary: "删除指定节点"
      parameters:
        - in: "path"
          name: "node_id"
          type: "integer"
          description: "节点id"
          required: true
      responses:
        204:
          description: "节点删除成功"
  /node:
    get:
      tags:
        - "node"
      summary: "获取指定项目下的所有节点"
      parameters:
        - in: "query"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
      responses:
        200:
          description: "节点列表"
          schema:
            $ref: "#/definitions/NodeList"
    post:
      tags:
        - "node"
      summary: "创建节点"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "node_type"
          type: "string"
          description: "节点类型"
          required: true
      responses:
        201:
          description: "创建成功"
          schema:
            $ref: "#/definitions/Node"
  /node/edge:
    post:
      tags:
        - "node"
      summary: "创建边"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "node1_id"
          type: "integer"
          description: "节点1id"
          required: true
        - in: "formData"
          name: "node2_id"
          type: "integer"
          description: "节点2id"
          required: true
      responses:
        201:
          description: "创建边成功"
    delete:
      tags:
        - "node"
      summary: "删除边"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "formData"
          name: "project_id"
          type: "integer"
          description: "项目id"
          required: true
        - in: "formData"
          name: "node1_id"
          type: "integer"
          description: "节点1id"
          required: true
        - in: "formData"
          name: "node2_id"
          type: "integer"
          description: "节点2id"
          required: true
      responses:
        204:
          description: "删除边成功"
  /node/{node_id}/run:
    post:
      tags:
        - "node"
      summary: "运行指定节点"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "path"
          name: "node_id"
          type: "integer"
          description: "节点id"
          required: true
      responses:
        201:
          description: "创建任务成功"
  /node/{node_id}/csv:
    get:
      tags:
        - "node"
      summary: "获取指定节点的csv"
      consumes:
        - "multipart/form-data"
      parameters:
        - in: "path"
          name: "node_id"
          type: "integer"
          description: "节点id"
          required: true
        - in: "formData"
          name: "filename"
          type: "string"
          description: "文件名"
          required: true
      responses:
        201:
          description: "csv数据"
          schema:
            $ref: "#/definitions/CSV"
  /node/description:
    get:
      tags:
        - "node"
      summary: "获取节点信息"
      responses:
        200:
          description: "节点信息"
          schema:
            $ref: "#/definitions/NodeDescription"